services:
  - type: web
    name: skillrack-analyzer
    env: python
    buildCommand: "./render-build.sh"
    startCommand: "gunicorn app:app"
    plan: free
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
