services:
  - type: web
    name: skillrack-analyzer
    env: python
    buildCommand: "pip install requirements.txt"
    startCommand: "gunicorn app:app"
    plan: free
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false

